
/* quicksand-font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font-color */

.color-1{
    color: rgba(254, 163, 1, 1);
}
.color-2{
    color: rgba(1, 172, 253, 1);
}
.color-3{
    color: rgba(5, 212, 223, 1);
}
.color-4{
    color: rgba(93, 88, 239, 1);
}

/* header-section */

.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-container nav #logo{
    width: 100%;
    margin-right: 10px;

}

.header-container .nav-logo h2{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}
.header-container ul li{
    list-style: none;
    font-size: 1.25rem;
}

.header-container ul li a{
    text-decoration: none; 
}

.header-container nav button{
    background-color:rgba(254, 163, 1, 1) ;
    padding: 10px 60px ;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    border: none;
}

#nav-hr{
    background-color: orange;
}

/* responsive nav section*/

@media screen and (max-width:500px    ) {
    .header-container nav button{
        display: none;
    }
    .header-container ul li a{
        display: none;
    }
    .header-container .nav-logo h2{
        display: none;
    }
}

@media screen and (min-width: 500px) {

    .header-container i{
        display: none;
    }
    .header-container hr{
        display: none;

    }
}

/* hero-section */
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
   
}

.hero-content h3{
    font-weight: bold;
    font-size: 3.5rem;
}
.hero-content p{
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 25px;
}

.hero-content button{
    background-color:rgba(17, 17, 17, 1);
    padding: 15px 60px ;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    border: none;
}

/* responsive hero section*/
@media screen and (max-width: 500px) {

 .hero-section{
    flex-direction: column-reverse
 }
 .hero-content{
    text-align: center
 }

}


/* Standard-Curriculum */

.Curriculum{
    background-image: url("./image/bg.png");
    max-width: 1200px;
    margin: 0 auto;
}

.Curriculum h3{
    padding-top: 60px;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.cards{
    display: flex;
    gap: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
}
 
.cards-wh{
    width: 366px;
    height: 476px;

}
.cards-1{
    justify-items: center;
    padding: 0px 40px;
    background-color: rgba(255, 255, 255, 1); 
    background-image: linear-gradient(180deg, #DEF5FF, #FFFFFF);
    border-radius: 15px;
}

.cards-1 img{
    padding-top: 52px;
}

.cards-1 h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    font-size: 1.5rem;
}

.cards-1 p{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.cards-1 button{
    color: rgba(100, 200, 255, 1);
    border: none;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 33px;
    padding-bottom: 52px;
    
}
.cards-1{
    justify-items: center;
    padding: 0px 40px;
    background-color: rgba(255, 255, 255, 1); 
    background-image: linear-gradient(180deg, #DEF5FF, #FFFFFF);
    border-radius: 15px;
}

.cards-2 img{
    padding-top: 52px;
}

.cards-2 h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    font-size: 1.5rem;
}

.cards-2 p{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.cards-2 button{
    color: rgba(240, 170, 0, 1);
    border: none;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 33px;
    padding-bottom: 52px;
    
}
.cards-2{
    justify-items: center;
    padding: 0px 40px;
    background-color: rgba(255, 255, 255, 1); 
    background-image: linear-gradient(180deg, #FFF4DC, #FFFFFF);
    border-radius: 15px;
}

.cards-3 img{
    padding-top: 52px;
}

.cards-3 h3{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: bold;
    font-size: 1.5rem;
}

.cards-3 p{
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.cards-3 button{
    color: rgba(135, 0, 255, 1);
    border: none;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 33px;
    padding-bottom: 52px;
    
}

.cards-3{
    justify-items: center;
    padding: 0px 40px;
    background-color: #F2E8FF; 
    background-image: linear-gradient(180deg, #F2E8FF, #FFFFFF);
    border-radius: 15px;
}

.than-btn{
    text-align: center;
    padding-bottom: 60px;
}

.than-btn button{
    border-radius: 50%;
    padding: 20px;
    background-color: orange;
    border: none;
    color: #F2E8FF;
}


/* responsive Standard Curriculum */

@media screen and (max-width: 500px) {
    .Curriculum h3{
        font-size: 2rem;

    }
    .cards{
        flex-direction: column

    }
    .than-btn{
        display: none;
    }
   }

/* Our-Stories-section */

.our-stories{
    background-image: url("./image/bg.png");
    max-width: 1200px;
    margin: 0 auto;   
}

.stories-card{
    display: flex;
    gap: 15px;
}
.our-stories h3{
    font-weight: bold;
    font-size: 2.85rem;
    text-align: center;
    padding-top: 60px;
}

.our-stories{
    display: ;
}
.story-1{
    width: 540px;
    height: 630px;
    border: 10px solid rgba(254, 163, 1, 1);

}

.story-btn button{
    background-color: rgba(60, 216, 232, 1);
    color: #F2E8FF;
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-left: 35px;
}

.story-1 h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 35px;

}

.story-1 p{
    font-weight: 500;
    font-size: 1rem;
    margin-left: 35px;
    margin-right: 68px;
    color: rgba(102, 102, 102, 1);
}


.story-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.story-grid img{
    width: 100%;  
}

.story2{
    border-radius: 10px;
    border: 10px solid black;
    /* width: 290px;
    height: 300px; */
}

.story2 button{
    margin-left: 35px;
}

.story2 p{
    margin-left: 35px;
}

.view-btn{
    text-align: center;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.our-stories #view{
    background-color:rgba(17, 17, 17, 1);
    padding: 15px 60px ;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    border: none;
}

/* responsive-our-stories */

@media screen and (max-width:500px) {
   .story-1{
    display: none;
   } 
   .story-grid{ 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (min-width:500px) {
    .story7{
        display: none;
    }
    
}

