
/* quicksand-font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font-color */

.color-1{
    color: rgba(254, 163, 1, 1);
}
.color-2{
    color: rgba(1, 172, 253, 1);
}
.color-3{
    color: rgba(5, 212, 223, 1);
}
.color-4{
    color: rgba(93, 88, 239, 1);
}

/* header-section */

.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-container nav #logo{
    width: 100%;
    margin-right: 10px;

}

.header-container .nav-logo h2{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
}
.header-container ul li{
    list-style: none;
    font-size: 1.25rem;
}

.header-container ul li a{
    text-decoration: none; 
}

.header-container nav button{
    background-color:rgba(254, 163, 1, 1) ;
    padding: 10px 60px ;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    border: none;
}

#nav-hr{
    background-color: orange;
}

/* responsive section */

@media screen and (max-width:500px    ) {
    .header-container nav button{
        display: none;
    }
    .header-container ul li a{
        display: none;
    }
    .header-container .nav-logo h2{
        display: none;
    }
}

@media screen and (min-width: 500px) {

    .header-container i{
        display: none;
    }
    .header-container hr{
        display: none;

    }
}
